@model SimulacaoCompra.Models.Compra
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
@{
    ViewData["Title"] = "Editar";
}

<h2 class="text-center">Editar sua Simulação</h2>


<hr class="mdl-color--deep-purple-A700" />

@if (TempData["ErroSalvar"] != null)
{
    <div class="form-group alert alert-danger" role="alert">
        <span class="badge badge-pill badge-success">Atenção!</span>
        @TempData["ErroSalvar"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="campo col-md-4 mdl-shadow--8dp">
        <br />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idcompra" />
            <div class="form-group">
                <label asp-for="NomeDaCompra" class="control-label"></label>
                <div class="col-md-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </span>
                    <input asp-for="NomeDaCompra" class="form-control" type="text" />
                </div>
                <small class="input-group form-text text-muted">Preencha o campo nome da compra com até 100 caracteres </small>
                <span asp-validation-for="NomeDaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valortotal" class="control-label"></label>
                <div class="col-md-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </span>
                    <input asp-for="Valortotal" class="form-control" type="number" />
                </div>
                <small class="input-group form-text text-muted">Preencha o campo valor total como por Ex: 100 </small>
                <span asp-validation-for="Valortotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valorjuros" class="control-label"></label>
                <div class="col-md-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </span>
                    <input asp-for="Valorjuros" class="form-control" type="text" id="porcento" />
                </div>
                <small class="input-group form-text text-muted">Preencha o campo valor juros como por Ex: 0,010 </small>
                <span asp-validation-for="Valorjuros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtdparcelas" class="control-label"></label>
                <div class="col-md-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-plus"></span>
                    </span>
                    <input asp-for="Qtdparcelas" class="form-control" type="number" />
                </div>
                <small class="input-group form-text text-muted">Preencha o campo Qtd parcela como por Ex: 1 </small>
                <span asp-validation-for="Qtdparcelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datacompra" class="control-label"></label>
                <div class="col-md-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input asp-for="Datacompra" class="form-control" />
                </div>
                <span asp-validation-for="Datacompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCalculo" class="control-label"></label>
                <div class="col-md-10 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-cog"></span>
                    </span>
                    <select asp-for="TipoCalculo" class="form-control">
                        <option value=" "></option>
                        <option value="J.Simples">J.Simples</option>
                        <option value="J.Composto">J.Composto</option>
                    </select>
                </div>
                <span asp-validation-for="TipoCalculo" class="text-danger"></span>
            </div>
        </form>
        <div class="form-group">
            <a asp-action="Index" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="glyphicon glyphicon-chevron-left"></i> Voltar para lista </a> |
            <input type="submit" value="Salvar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" />
        </div>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#porcento").inputmask("mask", { "mask": "9,999" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });

        });
    </script>


}



