@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />
<div class="row-responsive">
    <div class="col-lg-12 jumbotron">
        <div class="breadcrumb">
            
            <div class="card-header">
                <h2><strong class="card-title text-warning">Ocorreu um erro Inesprado!</strong></h2>
            </div>
            <hr />
            <div class="card-body">
                <strong class="text-danger">(Este acesso se encontra impossibilitado no momento).</strong>
            </div>
        </div>
    </div>
</div>




<br />
<div>
    <a asp-action="Index" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="glyphicon glyphicon-chevron-left"></i> Voltar para lista </a>
</div>
